body {
  font-size: 13px;
  font-family: monospace;
  margin:0;
  padding:0;
  background-color: #d9b844;
  color: #000;
}

a { color: #fff; text-decoration: underline; }
a:hover { text-decoration: none; background-color: #444; }

.container { text-align: center; }

.branding {
  background: #d9b844 url(/assets/images/mustard-tiger-title.jpg) no-repeat center;
  height: 227px;
  text-indent: -9999px;
}

.big-embed { max-width: 800px; margin: 0 auto; }
